article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-header,
.main-header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-header {
	padding: 0 5%;
}

#dogos {
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.dogo {
	width: 31%;
	margin: 1%;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 15px;
}

.dogo img {
	width: 100%;
}

/* Add Dogo Modal */

.add {
	height: 50px;
	background: #FF7043;
	color: white;
	border-radius: 5px;
	padding: 5px 25px;
	border: none;
	box-shadow: 0 3px 0 0 #E64A19;
	position: relative;
	top: 0;
}

.add:active {
	top: 3px;
	box-shadow: 0 0 0 0 #E64A19;
}

.add-dogo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	display: flex;
	visibility: hidden;
	opacity: 0;
	transform: scale(1.2);
	transition: 0.3s ease;
}

.add-dogo.show {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}


.add-dogo form {
	margin: auto;
	background: white;
	border-radius: 3px;
	padding: 20px;
	position: relative;
	overflow: hidden;
}

.add-dogo label,
.add-dogo input[type=submit],
.add-dogo input {
	width: 100%;
	display: block;
}

.add-dogo label {
	margin-top: 15px;
}

.add-dogo input[type=submit] {
	margin-top: 15px;
	background: #4CAF50;
	border: 0;
	color: white;
	padding: 5px 0;
}

.add-dogo .fa-times {
	position: absolute;
	top: 0;
	right: 0;
	background: #DD2C00;
	height: 25px;
	width: 25px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-dogo .fa-times:hover {
	cursor: pointer;
}

.score-container {
	display: flex;
	background: #4CAF50;
	border-radius: 5px;
	overflow: hidden;
}

.score-container p {
	width: 50%;
	text-align: center;
	margin: 0;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 30px;
}

.score-container .score {
	background: #C8E6C9;
}

.updog {
	box-shadow: inset 0px 0px 0px 0px #2E7D32;
	transition: 0.3s ease;
}


.updog:hover {
	cursor: pointer;
}

.updog:active {
	box-shadow: inset -2px 2px 0 0 #2E7D32;
}